.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    // width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    input[type="text"] {
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 1rem;
    }
  
    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.2s;
  
      &:hover {
        opacity: 0.8;
      }
  
      &:first-child {
        background-color: #007bff;
        color: white;
      }
  
      &:last-child {
        background-color: #28a745;
        color: white;
      }
    }
  }

  .modal-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 버튼 사이에 동일한 간격을 유지하면서 좌우 끝에 간격을 둠 */
    padding: 0 1rem; /* 좌우 끝에 간격 추가 */
  
    button {
      flex: 1; /* 버튼들이 남은 공간을 균등하게 채움 */
      margin: 0 0.5rem; /* 버튼 사이의 간격 조정 */
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
  
      &:first-child {
        margin-left: 0;
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      &:disabled {
        background-color: #e0e0e0;
        border-color: #d3d3d3;
        color: #a1a1a1;
        cursor: not-allowed;
      }
    }
  }
  
  
  .error-message {
    color: #f44336; // 에러 색상
    margin-bottom: 1rem; // 여백
    text-align: center; // 텍스트 가운데 정렬
  }